<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Browsers</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="https://www.ebi.ac.uk/ols/ontologies/cl">Ontology Lookup Service</a></li>
                        <li><a href="https://www.ontobee.org/ontology/CL">Ontobee</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Docs</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="https://obophenotype.github.io/cell-ontology/">Cell Ontology Documents</a></li>
                        <li><a href="https://oboacademy.github.io/obook/">OBO Academy OBOOK</a></li>
                        <li><a href="https://ontology-development-kit.readthedocs.io/en/latest/">Ontology Development Kit Guide</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Blogroll</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Upcoming</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Socials</h3>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" href="https://github.com/obophenotype/cell-ontology">
                                    <span class="icon">
                                        <ion-icon name="logo-github" size="large"></ion-icon>
                                    </span>
                                </a>
                                <a class="level-item" href="https://twitter.com/OBOFoundry">
                                    <span class="icon">
                                        <ion-icon name="logo-twitter" size="large"></ion-icon>
                                    </span>
                                </a>
                            </div>
                        </nav>

                        <a href="https://bulma.io" target="_blank">
                            <img src="img/logo/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
